#gamebox {
  width: 813px;
  margin: 0 auto;
  position: relative;
  z-index: 888; }

#gamebox ul.board {
  width: 100%;
  height: 100px;
  list-style: none; }

#gamebox ul.board li {
  width: 100px;
  height: 100px;
  padding: 8px;
  float: left; }

#gamebox ul.board li span {
  border-radius: 390px;
  -moz-border-radius: 390px;
  -webkit-border-radius: 390px;
  box-shadow: inset 0px 0px 10px #222222;
  -moz-box-shadow: inset 0px 0px 10px #222222;
  -webkit-box-shadow: inset 0px 0px 10px #222222;
  background-color: rgba(100, 100, 100, 0.8);
  margin: 2px;
  width: 90px;
  height: 90px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out; }
  #gamebox ul.board li span.red {
    background: rgba(200, 10, 10, 0.3);
    box-shadow: inset 0px 0px 12px #444444;
    -moz-box-shadow: inset 0px 0px 12px #444444;
    -webkit-box-shadow: inset 0px 0px 12px #444444; }
  #gamebox ul.board li span.red_hover {
    background: rgba(200, 10, 10, 0.1); }
  #gamebox ul.board li span.black {
    background: rgba(20, 20, 20, 0.4);
    box-shadow: inset 0px 0px 12px #444444;
    -moz-box-shadow: inset 0px 0px 12px #444444;
    -webkit-box-shadow: inset 0px 0px 12px #444444; }
  #gamebox ul.board li span.black_hover {
    background: rgba(20, 20, 20, 0.1); }
